/*
CSS "custom properties" are pretty cool: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties
 */
:root {
  --var-connect-four-circle-size: 80px;
  --var-connect-four-columns: 7;
}

.ConnectFourStructure {
  /*
  CSS `calc()` is pretty cool: https://developer.mozilla.org/en-US/docs/Web/CSS/calc
   */
  width: calc(var(--var-connect-four-circle-size) * var(--var-connect-four-columns));
  display: grid;
}

